.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $ns__gutter;
    width: 100%;
    padding: $ns__gutter;
    @include media(sm) {
        grid-template-columns: 1fr;
    }
    &__item {
        background-color: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    }
}