:root {
  --main-color: #fff;
  --accent-color: #242F3E;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  background-color: var(--main-color);
  transition: all .2s;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 10;
  justify-content: center;
  background-color: var(--main-color);
  padding: 10px 0;
  transition: all .2s;
  box-shadow: 0 0 12px rgba(0, 0, 0, .15);
}

.body_dark {
  background-color: #242F3E;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  width: 100%;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__item {
    background-color: var(--main-color);
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
  }
}

#theme {
  transition: .2s;
  cursor: pointer;

  &.rotated {
    transform: rotateZ(-120deg) !important;
  }

  path {
    fill: var(--accent-color);
  }
}