* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #efefef;
  transition: all .2s;
}

.body_dark {
  background-color: #242F3E;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  width: 100%;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__item {
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
  }
}


.switch-theme {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 80px;
  cursor: pointer;
  font-size: 12px;
  margin: auto;
  border: none;
  background-color: #242F3E;
  color: #fff;
  padding: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  transition: all .2s;

  &_light {
    color: inherit;
    background-color: #fff;
  }
}