.tg-chart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  overflow: hidden;
}

.tg-chart-wrapper_dark {
  background-color: #242F3E;
}

.tg-chart-wrapper_dark .tg-chart-buttons__item {
  color: #fff;
  border: 1px solid #3a4c65;
}

.tg-chart-wrapper_dark .tg-chart-buttons__item else {
  color: #242F3E;
}

.tg-chart-wrapper_light {
  background-color: #fff;
}

.tg-chart-wrapper_light .tg-chart-buttons__item else {
  color: #242F3E;
}

.tg-chart-wrapper_dark .tg-chart-buttons__item {
  border-color: #ffffff22 !important;
  color: #fff;
}

.tg-chart-wrapper_dark .tg-chart-checkbox:checked + .tg-chart-checkbox-indicator::after {
  background-color: #242F3E;
}

.tg-chart-wrapper_dark .tg-chart-tooltip {
  background-color: #242F3E;
  color: #fff;
}

.tg-chart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding-top: 10px;
}

.tg-chart-buttons__item {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: none;
  border-radius: 10em;
  outline: none;
  position: relative;
  padding: 8px 16px 8px 8px;
  border: 1px solid #dfdfdf;
  margin: 8px;
  line-height: 1;
  height: 2.5em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.tg-chart-checkbox {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  outline: none;
  margin: 0;
}

.tg-chart-checkbox:checked + .tg-chart-checkbox-indicator::before {
  width: 0;
}

.tg-chart-checkbox:checked + .tg-chart-checkbox-indicator::after {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(2.5em - 20px);
  height: calc(2.5em - 20px);
  border-radius: 100%;
}

.tg-chart-checkbox:checked ~ .tg-chart-checkbox-ripple {
  width: 5em;
  height: 5em;
  border: 6px solid rgba(0, 0, 0, 0);
  opacity: 1;
}

.tg-chart-checkbox-indicator {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: absolute;
  left: 0.5em;
  width: calc(2.5em - 16px);
  height: calc(2.5em - 16px);
  border-radius: 100%;
  background-color: #dfdfdf;
}

.tg-chart-checkbox-indicator::before, .tg-chart-checkbox-indicator::after {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.tg-chart-checkbox-indicator::before {
  width: 50%;
  top: -2%;
  left: 19%;
  -webkit-transform: rotateZ(-42deg);
          transform: rotateZ(-42deg);
}

.tg-chart-checkbox-indicator::after {
  width: 30%;
  top: 17%;
  right: 35%;
  -webkit-transform: rotateZ(50deg);
          transform: rotateZ(50deg);
}

.tg-chart-checkbox-ripple {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: absolute;
  display: inline-block;
  -webkit-transition: all .8s;
  transition: all .8s;
  border: 20px solid rgba(0, 0, 0, 0.35);
  border-radius: 100%;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  margin: auto;
  left: calc(-1.35em - calc(2.5em - 16px) / 2);
  right: 0;
  top: 0;
  bottom: 0;
}

.tg-chart-checkbox-text {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin-left: 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tg-chart-tooltip {
  opacity: 0;
  position: absolute;
  top: 10%;
  z-index: 15;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  padding: 10px 14px;
  font-size: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.tg-chart-tooltip__title {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.tg-chart-tooltip__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.tg-chart-tooltip_shown {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=tg-chart.css.map */